
<div class="login-form">    
    <form method="POST" action="/auth" >
        <center>
            <div class="avatar"><img src="/images/1142172.png"></div>
        </center>
		
        <h4 class="modal-title">HeartbeatApp</h4>
        <h5>Iniciar Sesion</h5>
        
        <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="email" placeholder="Escribe tu email" required>
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Escribe tu contraseña" required>
        </div>

      
        <div class="form-group small clearfix">
            {{#if error}}
			<div class="container">
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
			</div>
			{{/if}}
            <a href="#" class="forgot-link" data-toggle="modal" data-target="#exampleModalCenter">Olvide mi contraseña</a>
        </div> 
        <button class="btn btn-danger btn-block btn-lg"type="submit">
            Iniciar Sesion
        </button>
                  
    </form>			
   
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #fa1414; height: 65px;">
        <h5 class="modal-title" id="exampleModalCenterTitle">Recuperar Contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
             <input type="text" class="form-control" name="email" placeholder="Escribe tu email" required>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" onclick="recorverPass()">Confimar</button>
         </form>
      </div>
    </div>
  </div>
</div>