<div class="container">

    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Datos del paciente</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Nombre:</strong> José Luis Mendoza Rodríguez </li>
                        <li class="list-group-item"><strong>Fecha:</strong> 2019-12-04 06:00 p. m. </li>
                        <li class="list-group-item"><strong>Latitud:</strong> 19.264835 </li>
                        <li class="list-group-item"><strong>Longitud:</strong> -70.4849013</li>
                        <li class="list-group-item"><strong>Pulso:</strong> 86</li>
                        <li class="list-group-item"><strong>Situacion:</strong> Normal</li>
                        <li class="list-group-item"><strong>Dianostico:</strong> Paciente con 34 años de edad, SI tiene antecedentes cardiacos, NO tiene factor de riesgo, de sexo Masculino</li>
                    </ul>



                </div>
            </div>
        </div>
    </div>